!!! Strict
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		%title Example project
		<%- l = Workbench::JSLibs::LIST -%>
		<%- if options[:js] && !options[:js].empty? then -%>
		<%- options[:js].each do |lib| -%>
		%script{:src => "/js/<%= File.basename(l[lib]) %>", :type => "text/javascript"}
		<%- end -%>
		<%- end -%>
		%script{:src => "/js/scripts.js", :type => "text/javascript"}
		%link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
	%body
		%h1 Example HAML page
